*{
  margin: 0px;
  padding: 0px;
}

img{
max-width: 100%;

}

ul{
  margin: 0;
  padding: 0;
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  padding: 0 295px;
}

header img{
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 15%;
  padding-bottom: 5px;
}

header ul{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

header li{
  list-style: none;
  padding-left: 20px;
  font-size: 14px;
}

header li:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* main */
main img{
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

main{
  padding: 0px;
}

/* About */
main section.About{
  padding-top: 80px;
  text-align: center;
}
main section.About h2{
      margin: 0 auto;
      font-size: 2rem;
      border-bottom: solid 1px #383e45;
      font: normal normal bold 32px/48px Meiryo;
      letter-spacing: 0px;
      color: #383E45;
      opacity: 1;

}
main section.Bicycle h2{
  text-align: center;
  font-size: 2rem;
  margin:0px 667px 0px 667px;
  border-bottom: solid 1px #383e45;
  font: normal normal bold 32px/48px Meiryo;
  letter-spacing: 0px;
  color: #383E45;
  opacity: 1;
}
.About-cotent img{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  100px;       /* ※縦横を同値に */
  height: 100px;       /* ※縦横を同値に */
  margin-right: 30px;
}
main .About-cotent{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  /* outline: 1px solid red; */
}
main h3{
  margin-bottom: 10px;
  text-align: left;
  font: normal normal bold 16px/24px Meiryo;
  letter-spacing: 0px;
  color: #383E45;
  opacity: 1;
}
main p{
  text-align: left;
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
  color: #383E45;
  opacity: 1;
}

/* Bicycle */
main section.Bicycle{
  padding-top: 100px;
}
.Bicycle-cotent{
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.Bicycle-cotent {
  margin: 70px 295px 0;
}

.article-content img{
  width: 100%;
  height: 175px;
}
.article-content h4, .article-content p{
  text-align: center;
}



/* .article-text-area{
  text-align: center;
} */